:root {
  --mainColor: #564E1B;
  --backgroundColor: #F5DD3A;
}

body {
  background-color: var(--backgroundColor);
  font-family: "Muli", sans-serif;
  color: var(--mainColor);
  font-size: 18px;
}

.container {
  margin: 4em auto;
  max-width: 500px;
  box-sizing: border-box;
  padding: 0 20px;

  * {
    box-sizing: border-box;
  }
}

/* Components */
@import 'components/TodoCreateInput';
@import 'components/TodoList';
@import 'components/TodoItem';
